# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a21834654b350e333c82807b0369850c"
name = "Shopi Section"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2024-04"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
